.tws-demo-shower {
  margin-top: @gap-2;
  .body {
    padding: @gap-2 @gap-4;
  }
  .desc {
    border-top: 1px solid @color-gray-line;
    padding: @gap-2 @gap-4;
  }
  .code-toggle {
    float: right;
  }
  .code-wrap {
    padding: @gap-1 @gap-3;
    border-top: 1px dashed @color-gray-line;
    background: @color-code-background;
  }
}
